<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="navbar">CivicWatch</div>

<div class="hero">
    <h1>Smart Public Infrastructure <br><span>Monitoring System</span></h1>
    <p>Report infrastructure issues like potholes, garbage, and broken streetlights.</p>
</div>

<div class="cards">

    <div class="card">
        <img src="https://img.icons8.com/fluency/48/error.png"/>
        <h3>Report Issue</h3>
        <p>Report problems and help improve your city infrastructure.</p>
        <a href="/report-issue" class="btn">Report Now</a>
    </div>

    <div class="card">
        <img src="https://img.icons8.com/fluency/48/admin-settings-male.png"/>
        <h3>Admin Dashboard</h3>
        <p>Manage and resolve reported infrastructure issues.</p>
        <a href="/admin/login" class="btn">Admin Access</a>
    </div>

</div>